.table {
  text-align: center;
  border-collapse: collapse;

  &-header {
    padding: 10px;
    border: 1px solid black;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
  }

  &-row {
    padding: 10px;
    border: 1px solid black;
    background-color: papayawhip;
  }
}
